h1 {
    padding-top: 80px;
    text-align: center;
    font-size: 64px;
    margin: 0;
    color: #4ECCA3;
}

#resetButton {
    margin-top: 20px;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #393E46;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #4ECCA3;
    transition: all 0.2s;
}

button:hover {
    opacity: 0.8;
    transform: opacity 0.4s;
}

button:active {
    transform: translate(2px, 2px);
}

button:focus {
    outline: none;
}

.container {

    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #232931;
}

#gameboard {
    padding-top: 10vh;
    grid-template-areas: center;
    display: grid;
    grid-template-columns: 141px 141px 141px;
}


/*.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6)~.box {
    border-bottom: none;
}*/

.box {
    font-size: 96px;
    font-weight: bolder;
    color: #4ECCA3;
    padding: 0 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 120px;
    margin: 0px 15px 15px 0;
    border-radius: 5px;
    background-color: #393E46;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.2s;

}

.box:hover {
    opacity: 0.6;
    transition: all 0.2s;

}

.box:active {
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: all 0.1s;

}

@media (max-width: 1025px) {
    #gameboard {

        grid-template-columns: 100px 100px 100px;
    }

    .box {
        font-size: 64px;
        height: 80px;
    }
}